[submodule "react"]
	path = react
	url = https://github.com/pbdm/playground-react.git
[submodule "scaffold"]
	path = scaffold
	url = https://github.com/pbdm/playground-scaffold.git
[submodule "weixinshare"]
	path = weixinshare
	url = https://github.com/pbdm/playground-weixinshare.git
