[submodule "vendor/react"]
	path = vendor/react
	url = https://github.com/facebook/react.git
[submodule "vendor/redux"]
	path = vendor/redux
	url = https://github.com/reactjs/redux.git
[submodule "vendor/history"]
	path = vendor/history
	url = https://github.com/ReactTraining/history.git
[submodule "vendor/raven-js"]
	path = vendor/raven-js
	url = https://github.com/getsentry/raven-js.git
[submodule "vendor/html-webpack-plugin"]
	path = vendor/html-webpack-plugin
	url = https://github.com/ampedandwired/html-webpack-plugin
[submodule "vendor/koa-examples"]
	path = vendor/koa-examples
	url = https://github.com/koajs/examples.git
[submodule "vendor/redux-thunk"]
	path = vendor/redux-thunk
	url = https://github.com/gaearon/redux-thunk.git
[submodule "vendor/webpack"]
	path = vendor/webpack
	url = https://github.com/webpack/webpack.git
[submodule "vendor/touchstonejs"]
	path = vendor/touchstonejs
	url = https://github.com/touchstonejs/touchstonejs.git
[submodule "vendor/ratchet"]
	path = vendor/ratchet
	url = https://github.com/twbs/ratchet.git
[submodule "vendor/flux"]
	path = vendor/flux
	url = https://github.com/facebook/flux.git
[submodule "vendor/react-router-redux"]
	path = vendor/react-router-redux
	url = https://github.com/reactjs/react-router-redux.git
[submodule "vendor/redux-promise-middleware"]
	path = vendor/redux-promise-middleware
	url = https://github.com/pburtchaell/redux-promise-middleware.git
[submodule "vendor/mass-Framework"]
	path = vendor/mass-Framework
	url = https://github.com/RubyLouvre/mass-Framework.git
[submodule "vendor/iscroll"]
	path = vendor/iscroll
	url = https://github.com/cubiq/iscroll.git
[submodule "vendor/flowchart.js"]
	path = vendor/flowchart.js
	url = https://github.com/adrai/flowchart.js.git
[submodule "vendor/react-quill"]
	path = vendor/react-quill
	url = https://github.com/zenoamaro/react-quill.git
[submodule "vendor/ueditor"]
	path = vendor/ueditor
	url = https://github.com/fex-team/ueditor.git
[submodule "vendor/draft-js"]
	path = vendor/draft-js
	url = https://github.com/facebook/draft-js.git
[submodule "vendor/form"]
	path = vendor/form
	url = https://github.com/react-component/form.git
[submodule "vendor/mobx"]
	path = vendor/mobx
	url = https://github.com/mobxjs/mobx.git
[submodule "vendor/react-tap-event-plugin"]
	path = vendor/react-tap-event-plugin
	url = https://github.com/zilverline/react-tap-event-plugin.git
[submodule "vendor/react-virtualized"]
	path = vendor/react-virtualized
	url = https://github.com/bvaughn/react-virtualized.git
[submodule "vendor/fetch"]
	path = vendor/fetch
	url = https://github.com/github/fetch.git
[submodule "vendor/todomvc"]
	path = vendor/todomvc
	url = https://github.com/tastejs/todomvc.git
[submodule "vendor/react-native"]
	path = vendor/react-native
	url = https://github.com/facebook/react-native.git
[submodule "vendor/react-native-web"]
	path = vendor/react-native-web
	url = https://github.com/necolas/react-native-web.git
[submodule "vendor/recharts"]
	path = vendor/recharts
	url = https://github.com/recharts/recharts.git
[submodule "vendor/jest"]
	path = vendor/jest
	url = https://github.com/facebook/jest.git
